.colorTexto{
    background-color: black;
    color: white;
}
.containerMain{
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    display: flex;
}
.containerContent{
    color: black;
    background-color: yellowgreen;
    height: 90%;
    width: 90%;
    border: solid black 5px;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardslayout{
    display: flex;
    justify-content: space-around;
    /*align-items:center;*/
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.cardDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 250px;
    width: 350px;
    border-radius: 15px;
    flex-wrap: wrap;
}

.headerCard {
    width: 100%;
    background-color: aquamarine;
}
